<footer>
    <div class="container-footer">
        <div>
            <h2>The Pokémon Company</h2>
            <a href="">Actualités</a>
            <a href="">Guide parental</a>
            <a href="">Notre compagnie</a>
        </div>

        <div>
            <a href="#"><img src="/images/facebook.jpg" alt="Facebook" /></a>
            <a href="#"><img src="/images/youtube.jpg" alt="Youtube" /></a>
            <a href="#"><img src="/images/twitter.jpg" alt="Twitter" /></a>
            <a href="#"><img src="/images/instagram.jpg" alt="Instagram" /></a>
            <a href="#"><img src="/images/discord.jpg" alt="Discord" /></a>
        </div>

        <div>
            <img src="logo.png" alt="Pokémon Logo" />
            <a href="">Conditions d'utilisation</a>
            <a href="">Avis de confidentialité</a>
            <a href="">Page Cookie</a>
            <a href="">Informations juridiques</a>
            <p>© 2025 Pokémon / Nintendo / Creatures / Game Freak inc. TM</p>
        </div>
    </div>
</footer>