<div class="container-header">
    <a href="#">Acceuil</a>
    <a href="#">Pokédex</a>
    <a href="#">Jeux vidéo et applis</a>
    <a href="#">Jeux de cartes à collectionner</a>
    <a href="#">Dessins animés</a>
    <a href="#">Evenements Play ! </a>
    <a href="#">Actualités</a>
</div>