<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pokenode</title>
    </head>
    <body>
        {{! je peux ajouter des élements qui vont apparaitre dans toute mes pages comme header }}
        {{{body}}}

    </body>
</html>