<p>30 octobre 2025</p>
<h2>Les Pokémon‑ex Méga-Évolution sont arrivés dans le JCC Pokémon Pocket</h2>
<p>Nous fêtons également le premier anniversaire du JCC Pokémon Pocket ! Pour
    cette occasion, ne manquez pas les évènements spéciaux en jeu et les mises à
    jour vouées à faciliter la collecte de cartes. La nouvelle fonction de
    partage vous permet d’offrir des cartes d’un niveau de rareté ♦ à ♦♦♦♦ à vos
    amies et amis. Vous pourrez envoyer et recevoir une carte par jour, pour
    vous aider les uns les autres à agrandir vos collections respectives ! Par
    ailleurs, le type de cartes pouvant être échangées évolue. Désormais, vous
    pouvez échanger les cartes issues de la dernière extension, ainsi que les
    cartes dont le niveau de rareté est ★★, Chromatique 1 ou Chromatique 2.
    Enfin, la pioche miracle a aussi été améliorée : à présent, les cartes de
    l’extension la plus récente qui ne sont pas encore enregistrées dans votre
    Cartodex y apparaîtront plus souvent. De plus, le nombre d’exemplaires d’une
    carte que vous possédez actuellement sera affiché sur chaque carte de la
    pioche miracle, pour que vous sachiez d’un simple coup d'œil ce qui manque à
    votre collection. Il est temps de faire méga-évoluer votre collection avec
    les Pokémon-ex Méga-Évolution de Méga-Ascension !</p>