<!-- Section de recherche -->
<section>
    <div class="search-container">
        <form>
            <h2>Recherche Pokémon</h2>
            <div class="input-group" method="post" action="/search">
                <input
                    type="text"
                    id="pokemon"
                    name="pokemon"
                    placeholder="Nom du Pokémon"
                />
                <label for="pokemon">Nom du Pokémon</label>
            </div>
        </form>
    </div>
    <!-- Section home -->
    <div class="home-container">
        <h1>Pokedex</h1>
        <ol class="pokedex">
            {{#each pokemons.results}}
                <li>
                    <a href="/{{this.name}}">{{capitalize this.name}}</a>
                </li>
            {{/each}}
        </ol>

    </div>
</section>