<div class="search-container">
    <form>
        <h2>Recherche Pokémon</h2>
        <div class="input-group">
            <input
                type="text"
                id="pokemon"
                name="pokemon"
                placeholder="Nom du Pokémon"
            />
            <label for="pokemon">Nom du Pokémon</label>
        </div>
    </form>
</div>
<div class="home-container">
    <h1>{{pokemon.name}}</h1>
    <p>{{subTitle}}</p>
</div>